body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-size: 16px;
    line-height: 1.8em;
}

header{
    padding-top: 5px;
    padding-bottom: 15px;
    text-align: center;
    background-image: url("background1.jpeg") ;
    background-size: cover;
    background-position: fixed;
    color: white;
}

header img{
    max-width: 25%;
    border-radius: 25%;
    clip-path: circle(25%);
}

.bio {
    border: 50px;
    text-align: justify;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
}

.links {
    margin-top: 10px;
    text-align: center;
}

.links a {
    display: inline-block;
    margin: 0 5px;
    padding: 5px;
    text-decoration: none;
    color: black;
}


a:hover {
    opacity: 0.5;
  }


main {
    padding-top: 50px; 
    padding-left: 100px;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

h1{
    text-transform: uppercase;
}

h3, h4{
    font-weight: bold;
}


.sidebar{
    display: block;
    left: 0;
    width: 300px;
    height: 100%;
    padding: 1em;
    background: #A9C3B6;
    color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.sidebar header{
    padding-top: 50px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5;
    color: white;
    text-align: center;
    text-transform: bold;
    line-height: 70px;
    background-color: #4CAF50;
    border-radius: 5px;
}

.sidebar ul {
    list-style: none; 
    padding: 0; 
    margin: 0;
}

.sidebar ul li {
    padding: 15px 20px;
    margin-bottom: 10px;
    background: #3B6064;
    border-radius: 16px;
}

.sidebar ul li span {
    margin-left: 10px; 
}

.divider{
    border-bottom: 3px solid white;
    margin: 20px;
}

.container{
    display: flex;
    flex-wrap: nowrap;
}

.experience{
    margin-bottom: 40px;
}

.experience h1{
    font-size: 2rem;
    margin-bottom: 10px;
    color: #2c3e50;
}

main .divider{
    margin: 20px 0;
    border-top: 2px solid #eaeaea;
}

.experience div{
    margin-bottom: 20px;
}

.experience h3{
    font-size: 1.5rem;
    margin-bottom: 5px;
    color: #34495e;
}

.experience p{
    font-size: 1rem;
    margin-bottom: 10px;
    color: #7f8c8d;
}

.experience ul {
    padding-left: 20px;
    margin: 10px 0;
    list-style-type: circle;
}

.experience ul li {
    margin-bottom: 5px;
    color: black;
    list-style-type: circle;
}

.education h1{
    font-size: 2rem;
    margin-bottom: 10px;
    color: #2c3e50;
}

.education article{
    margin-top: 20px;
    border-left: 4px solid #3498db;
    padding-left: 15px;
}

.education .school{
    font-size: 1.2rem;
    font-weight: bold;
    color: #2980b9;
}

.education .course{
    font-size: 1rem;
    color: #7f8c8d;
    margin-top: 5px;
}

.education .line{
    margin: 10px 0;
    border-top: 2px solid #eaeaea;
}

footer{
    padding: 50px 50px 50px 150px; 
    color: #7f8c8d;
    background-color: #A9C3B6;
    text-align: justify;
}
