body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-size: 16px;
    line-height: 1.8em;
}

header{
    padding: 2em;
    text-align: center;
    background-image: ;
    background-size: cover;
    background-position: fixed;
    color: white;
}

h1{
    text-transform: uppercase;
}

h3, h4{
    text-transform: bold;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.sidebar{
    position: fixed;
    left: 0;
    width: 375px;
    height: 100%;
    background: darkblue;
}

.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background-color: blue;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    color: white;
    padding-left: 40px;
    border-top: 1px solid;
}